:host {
    display: flex;
    justify-content: center;
    margin: 300px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 400px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: rgb(187, 88, 88);
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }