<!DOCTYPE html>
<html lang="en">

<body>

  <table width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="padding:0;margin:0;border:0">
    <tbody>
      <tr>
        <td align="left" style="padding:32px 63px 0 63px" id="m_7063750480933838238main-pad">

          <a href="https://mega.nz/" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://mega.nz/&amp;source=gmail&amp;ust=1642102894098000&amp;usg=AOvVaw393e5UH9qqkTyyThBG3Ab1">
            <img alt=""
              src="https://mail.google.com/mail/u/0?ui=2&amp;ik=f440496943&amp;attid=0.1.1&amp;permmsgid=msg-f:1721701644315494752&amp;th=17e4b68606a18960&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8Mj1gPMIL6QTJ3XkbGYBlyAWZwXSX8C6eaASu7CJjKOW5NirPK0fe9y9Eq7H9BqGISrcUN9llsr0cYvlmALxaTwk3dja6F5jfWMnpF64qPupyO_p7mFrOYixs&amp;disp=emb"
              width="136" data-image-whitelisted="" class="CToWUd"></a>


          <h1
            style="font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:31px;color:#777777;padding:0;margin:28px 0 32px 0;font-weight:400;text-align:left;text-decoration:none">
            <a href="https://mega.nz/" style="text-decoration:none;color:#777777" target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://mega.nz/&amp;source=gmail&amp;ust=1642102894098000&amp;usg=AOvVaw393e5UH9qqkTyyThBG3Ab1"><span
                style="display:block"> {{username}} </span></a></h1>

          <p
            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#333333;margin:0;padding:0;margin:0 0 20px 0;text-align:left">
            We notice that you haven’t used your MEGA account recently. We would love to see you back!


          </p>

          <p
            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#333333;margin:0;padding:0;margin:0 0 20px 0;text-align:left">
            You can use our MEGA Desktop App which is available for Windows, macOS and Linux to automatically keep your
            computer data in sync with your MEGA account: <a href="https://mega.nz/sync"
              style="font-size:16px;line-height:20px;color:#d90007;text-decoration:none" target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://mega.nz/sync&amp;source=gmail&amp;ust=1642102894098000&amp;usg=AOvVaw2i1Y-KZpUYNTFIr0yQH-Bj">https://mega.nz/sync
            </a>


          </p>

          <p
            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#333333;margin:0;padding:0;margin:0 0 20px 0;text-align:left">
            You can use our MEGA Mobile Apps (Android and iOS) to automatically backup photos and videos to your MEGA
            account: <a href="https://mega.nz/mobile"
              style="font-size:16px;line-height:20px;color:#d90007;text-decoration:none" target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://mega.nz/mobile&amp;source=gmail&amp;ust=1642102894098000&amp;usg=AOvVaw03CaVvaQl6Vn5qORqxGqqR">https://mega.nz/mobile
            </a>


          </p>

          <p
            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#333333;margin:0;padding:0;margin:0 0 20px 0;text-align:left">
            If you have forgotten your password, you can <a href="{{url}}"
              style="font-size:16px;line-height:20px;color:#d90007;text-decoration:none" target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://mega.nz/recovery&amp;source=gmail&amp;ust=1642102894098000&amp;usg=AOvVaw3zBhKW6hjCwWMyThK1olor">reset
              your account here</a>.


          </p>

          <p
            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#333333;margin:0;padding:0;margin:0 0 20px 0;text-align:left">
            Please note that all your data on MEGA is encrypted with your password, which only you have. If you want to
            access the data in your MEGA account, you either need your password, an active session in for example a
            browser tab, or your Recovery Key.


          </p>

          <p
            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#333333;margin:0;padding:0;margin:0 0 20px 0;text-align:left">
            If you do not have a backup of your Recovery Key and you still have access to your MEGA account, now is a
            good time to <a href="https://mega.nz/backup"
              style="font-size:16px;line-height:20px;color:#d90007;text-decoration:none" target="_blank"
              data-saferedirecturl="https://www.google.com/url?q=https://mega.nz/backup&amp;source=gmail&amp;ust=1642102894098000&amp;usg=AOvVaw0taYQ_3FMM72zmtE-QrvXN">make
              a secure backup of your Recovery Key</a>.


          </p>

          <p
            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#333333;padding:0;margin:0px 0 20px 0;text-align:left">
            If you need any assistance or have any suggestions, feel free to contact us at <a
              href="mailto:support@mega.nz" style="font-size:16px;line-height:20px;color:#d90007;text-decoration:none"
              target="_blank">support@mega.nz</a>
          </p>



          <p
            style="font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;color:#333333;padding:0;margin:35px 0 0 0;text-align:left">
            Best regards,<br><br>— Team MEGA
          </p>


        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>