 .mat-card {

  border: 55px !important;
  border-radius: 0px !important;
  border: #000 !important;
  width: 100%;
  height: calc(100vh - 100px);
}

td, th {
  width: 25%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  width: 100%;
  overflow: auto;
}